*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
v7a.stdout.txt
v7a.command.txt
v8a.stdout.txt
v8a.command.txt
noise_detector.cpp.o
/app
app/.cxx

